@import url('https://fonts.googleapis.com/css?family=Amiko');
@import url('https://fonts.googleapis.com/css?family=Fira+Code');

body {
    font-family: Amiko, Arial, Helvetica, sans-serif;
}

.calculator {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    width: max-content;
    height: max-content;
    border: 20px solid #f3d276;
    border-radius: 30px;
    background-color: #c7b298;
    margin: 0 auto;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

.calculator > * {
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    font-size: 30px;
}
    
.screen {
    background-color: #88cd94; 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 76px;
    font-weight: 500;
}

.screen > * {
    display: flex;
    justify-content: end;
}

.screen #seen {
    font-size: 18px;
}

.screen #output {
    min-height: 30px;
    font-weight: 700;
}

.screen #output.zero-division-error {
    font-size: 0.75em;
}

.button {
    background-color: #bebebe;
    width: 85px;
    height: 75px;
    font-family: inherit;
    color: #393939;
}

.button.operation {
    background-color: #acbea1;
}

.button:active {
    transform: scale(1.025);
    transition: 0.1s ease-in;
}

.button#round {
    font-weight: 700;
    color: #333333;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.footer svg {
    color: #414141;
    font-size: 24px;
    transition: transform 0.5s ease-in-out;
}

.footer svg:hover {
    transform: rotate(1080deg) scale(1.2);
}