@import url('https://fonts.googleapis.com/css?family=Amiko');

body {
    font-family: Amiko, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.calculator {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    width: max-content;
    height: max-content;
    border: 20px solid #f3d276;
    border-radius: 30px;
    background-color: #c7b298;
    margin: 0 auto;
}

.calculator > * {
    border: 1px solid rgb(70, 70, 70);
    border-radius: 10px;
    font-size: 30px;
}
    
.screen {
    background-color: #666c77; 
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 5;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    gap: 10px;
    padding: 5px;
    min-height: 65px;
}

.screen #seen {
    font-size: 18px;
}

.screen #output {
    min-height: 30px;
}

.button {
    background-color: blueviolet;
    width: 85px;
    height: 75px;
}

.button:active {
    transform: scale(1.025);
    transition: 0.1s ease-in;
}

.button#zero {
    grid-column-start: 1;
    grid-column-end: 3;
    width: initial;
}